<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>774703207314-obi8pite9i7cm1fj11l5691kn37go5bd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.774703207314-obi8pite9i7cm1fj11l5691kn37go5bd</string>
	<key>API_KEY</key>
	<string>AIzaSyA7sVDqFJjBSdWsp0kLnSLDsxu283erO2A</string>
	<key>GCM_SENDER_ID</key>
	<string>774703207314</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.resturantcustomer</string>
	<key>PROJECT_ID</key>
	<string>akalat-954c8</string>
	<key>STORAGE_BUCKET</key>
	<string>akalat-954c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:774703207314:ios:76a40beca2a907472de74b</string>
</dict>
</plist>